[user]
    name = Oscar Suro

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = cyan bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    cm = commit -s
    co = checkout
    br = branch
    lg = log --oneline
    lm = log --oneline master..HEAD
    logg = log --pretty=short
    amend = commit --amend
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'

[core]
    excludesfile = ~/.gitignore
    editor = vim
    autocrlf = input
[push]
    default = simple
